language: c++

matrix:
  include:
    - os: linux
      compiler: gcc
      sudo: required
      script: ./code/build/travis/desktop.sh
      name: Linux / GCC

    - os: linux
      compiler: clang
      sudo: required
      script: ./code/build/travis/desktop.sh
      name: Linux / Clang

    - os: osx
      compiler: clang
      osx_image: xcode8.3
      script: ./code/build/travis/desktop.sh
      name: OSX / XCode 8

    - os: osx
      compiler: clang
      osx_image: xcode9.4
      script: ./code/build/travis/desktop.sh
      name: OSX / XCode 9

    - os: osx
      compiler: clang
      osx_image: xcode10.3
      script: ./code/build/travis/desktop.sh
      name: OSX / XCode 10

    - os: osx
      compiler: clang
      osx_image: xcode11.6
      script: ./code/build/travis/desktop.sh
      name: OSX / XCode 11

    - os: osx
      compiler: clang
      osx_image: xcode12.5
      script: ./code/build/travis/desktop.sh
      name: OSX / XCode 12

    - os: osx
      compiler: clang
      osx_image: xcode13.4
      script: ./code/build/travis/desktop.sh
      name: OSX / XCode 13

    - os: osx
      compiler: clang
      osx_image: xcode10.3
      script: ./code/build/travis/ios.sh
      name: iOS / XCode 10

    - os: osx
      compiler: clang
      osx_image: xcode11.6
      script: ./code/build/travis/ios.sh
      name: iOS / XCode 11

    # - os: osx
    #   compiler: clang
    #   osx_image: xcode12.5
    #   script: ./code/build/travis/ios.sh
    #   name: iOS / XCode 12

    # - os: osx
    #   compiler: clang
    #   osx_image: xcode13.1
    #   script: ./code/build/travis/ios.sh
    #   name: iOS / XCode 13

    # - os: osx
    #   compiler: clang
    #   osx_image: xcode13.4
    #   script: ./code/build/travis/ios.sh
    #   name: OSX / XCode 14

    - language: android
      jdk: openjdk11
      android:
        components:
          - build-tools-29.0.3
      install:
        - ./setup.sh
      before_script:
        - export ORX=$TRAVIS_BUILD_DIR/code
      script:
        - ./code/build/travis/android.sh
      name: Android / OpenJDK 11

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      sudo apt-get -qq update &&
      sudo apt-get -y install freeglut3-dev libsndfile1-dev libopenal-dev libxrandr-dev &&
      sudo apt-get -y install libc6:i386 libstdc++6:i386 ;
    fi

install:
  - ./setup.sh
